<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
<body>
  <header>
    <nav>
      <div class="grid">
        <img src="/flor.png" class="logo"></img>
        <div class="navbar-itens">
              <a class="nav-link" aria-current="page" href="/">Principal</a>
              <a class="nav-link" href="/contatos" style="margin-left: 30%;">Contatos</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container"> 
  <% for (let produto of produtos){ %>
      <div class="card">
        <img class="imagemCard" src="<%=produto.imagem%>" alt="">
        <h4 class="textoCard"> <%=produto.nome%> </h4>
        <div class="desc">
          <p><%= produto.descricao%></p> <!-- sinal de = mostra na tela o js -->
        </div>  
        <div>
          <a class="botaoCard" href="/produto/<%=produto.id%>">Acessar produto por R$<%=produto.preco%></a>
        </div>
      </div>
  <% } %>  
  </div>
</body>
</html>
