<!DOCTYPE html>
<html>
<head>
    <title>Projeto Express e EJS</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <header>
            <nav>
              <div class="grid">
                <img src="/flor.png" class="logo"></img>
                <div class="navbar-itens">
                      <a class="nav-link" aria-current="page" href="/">Principal</a>
                      <a class="nav-link" href="/contatos" style="margin-left: 30%;">Contatos</a>
                </div>
              </div>
            </nav>
        </header>

        <div class="box">
          <img src="<%=produto.imagem%>" class="imgProd"></img>
        <div class="frase">
          <p class="titulo"><%=produto.nome%></p>
          <div>
              <p>por <%=produto.autor%></p>
              <p style="font-size: 90%;"><%= produto.descricao%></p>
              <p style="margin: 7% 13% 0 0; font-size: 110%; font-weight: 600;">R$<%=produto.preco%></p>
              <a class="botaoProduto" href="">comprar</a>
          </div>
        </div>
      </div>

        <!-- <div class="box">
            <img src="/imagem/tog3.jpeg" class="imgProd"></img>
          <div class="frase">
            <p class="titulo">Trono de Vidro: Herdeira do fogo (Vol. 3)</p>
            <div>
                <p>por Sarah J. Mas</p>
                <p style="font-size: 90%;">A história de Celaena Sardothien, uma assassina a serviço de um rei tirânico, é uma fantasia épica repleta de ação, intriga e cenas de luta inesquecíveis. No terceiro livro da saga, Herdeira do fogo, Celaena ressurge das cinzas ainda mais forte e letal. Com personagens complexos e reviravoltas de tirar o fôlego, o universo de Trono de vidro se tornou um classico entre os amantes de fantasia, acumulando mais de um milhão de cópias vendidas e se tornando presença frequente nas listas dos mais vendidos.</p>
                <p style="margin: 7% 13% 0 0; font-size: 110%; font-weight: 600;">R$46,99</p>
                <a class="botaoProduto" href="">comprar</a>
            </div>
          </div>
        </div> -->

    </body>
</html>